{% extends "base.html" %}

{% block title %}Контакты - Туризм в Европе{% endblock %}
{% block header_title %}Контакты{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-6 form-bg">
        <h2 class="mb-4">Свяжитесь с нами</h2>
        <form>
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Сообщение:</label>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2 class="mb-4">Наши контакты</h2>
        <address>
            <p><strong>Email:</strong> <a href="mailto:info@tourism-europe.com">info@tourism-europe.com</a></p>
            <p><strong>Телефон:</strong> +1 (234) 567-890</p>
            <p><strong>Адрес:</strong> ул. Пушкина, д. Колотушкина, г. Москва, Россия</p>
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.372931826977!2d37.61555631593092!3d55.75222008055749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1629449824000!5m2!1sru!2sru" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>
{% endblock %}
