{% extends "base.html" %}

{% block title %}Главная - Туризм в Европе{% endblock %}
{% block header_title %}Туризм в Европе{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Париж">
            <div class="card-body">
                <h5 class="card-title">Париж</h5>
                <p class="card-text">Откройте для себя столицу Франции с её знаменитыми достопримечательностями.</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Рим">
            <div class="card-body">
                <h5 class="card-title">Рим</h5>
                <p class="card-text">Исследуйте вечный город с его богатым историческим наследием.</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Барселона">
            <div class="card-body">
                <h5 class="card-title">Барселона</h5>
                <p class="card-text">Почувствуйте дух Каталонии с её уникальной архитектурой и культурой.</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
